<div class="row">
	<div class="span12">
		<div class="single-pin">
		<%= image_tag @pin.image %>
		<p>
		  <%= @pin.description %>
		</p>
		<p>
		  <%= @pin.user.name %>
		</p>
		<p>
			<% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
			<% end %>
			
			<%= link_to 'Back', pins_path %>
		</p>
	</div>
	</div>
</div>